<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("http://www.geocities.ws/mommy9876/Mommy9876sPlace/backs/bluebubblebg.gif");
  background-color: #cccccc;
}
</style>

  <a class="nav-item" href="{{ site.baseurl }}/blog/principal"><img src='/images/fletxaesquerra.gif'></a>

<h1 style="color:Fuchsia; text-align:center;">
<img src="/images/1always.gif" alt="drawing" title="Present"></h1>

<center>
<img src="/images/1headconstruction.gif" alt="drawing"><img src="/images/1headconstruction.gif" alt="drawing"><img src="/images/1headconstruction.gif" alt="drawing"><img src="/images/1headconstruction.gif" alt="drawing">
<img src="/images/1headconstruction.gif" alt="drawing"><img src="/images/1headconstruction.gif" alt="drawing"><img src="/images/1headconstruction.gif" alt="drawing"><br>

</head>


<body>
<a href="http://art.teleportacia.org/observation/vernacular/uc/">http://art.teleportacia.org/observation/vernacular/uc/</a><br>


<a href="http://www.textfiles.com/underconstruction/">http://www.textfiles.com/underconstruction/</a>

    <p style="background-color:Fuchsia; color:Yellow;"> </p>

<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing">
<img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><img src="/images/1construction.gif" alt="drawing"><br>

<img src="/images/1construction2.gif" alt="drawing">
</body>



</html>
