<!DOCTYPE html>
<html>
<head>
<style>
body {

  background-color:white;
}
</style>

<img src="/images/1eye.gif" alt="drawing" width="70px" align="right">

  <a class="nav-item" href="{{ site.baseurl }}/blog/principal"><img src='/images/fletxaesquerra.gif'></a>
  <br>
<center><img src="/images/1clippydeath.gif" alt="drawing">

<h1 style="color:Fuchsia;">PRESENT</h1>
<p style="background-color:Fuchsia; color:Yellow;">Web 2.0<br>
<img src="/images/1iconasmiley.png" alt="drawing">Big Tech<br>
<img src="/images/1iconasmiley.png" alt="drawing">Corporate internet<br>
<img src="/images/1iconasmiley.png" alt="drawing">Social media<br>
</p>


</head>


<body>



    <p style="background-color:Fuchsia; color:Yellow;">"Don't be evil" - Google moto </p>


    <a href="https://how-i-experience-web-today.com"> <img src="/images/1star1.gif" alt="drawing">https://how-i-experience-web-today.com <img src="/images/1star1.gif" alt="drawing"></a><br>


    <br>
<a href="https://en.wikipedia.org/wiki/HTTP_cookie"><img src="/images/1cookies.gif" alt="drawing" title="Cookies">
  <a href="https://en.wikipedia.org/wiki/Big_Tech"><img src="/images/1evilgates.gif" alt="drawing" title="Microsoft">


<img src="/images/1zuckerberg.gif" alt="drawing"><br>



</body>

  <img src="/images/1getpaid.gif" alt="drawing">


<p style="background-color:Fuchsia; color:Yellow;">Uniformitat<br></p>
  <img src="/images/1ara.png" alt="drawing">  <img src="/images/1ara2.jpeg" alt="drawing"><img src="/images/1ara3.png" alt="drawing"><br>
  <p style="background-color:Fuchsia; color:Yellow;">"Blanding"<br></p>
  <img src="/images/1blanding.jpeg" alt="drawing" width="400px">  <img src="/images/1blanding2.jpeg" alt="drawing" width="400px">

</center>
</html>
